.fix-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background: linear-gradient(180deg, #2A3C55 0%, #FFFFFF 0.03%, #CDD9E9 342.86%);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px;
    /* height: 50px; */
    transition: height .2s ease-out;
}

.fix-footer._h60{
    height: 60px;
}

.fix-footer._h115{
    height: 115px;
}

.fix-footer._h83{
    height: 83px;
}

.fix-footer._h138{
    height: 138px;
}

.fix-footer.active{
    height: calc(100% - 40px);
}
.slide-up-btn{
    width: 50px;
    height: 5px;
    background: #1B2E48;
    border-radius: 10px;
    margin: 0 auto;
}


.navigation-menu{
    width: 160px;
    background: transparent;
    border-radius: 5px;
    margin: 5px auto;
    text-align: center;
    padding: 5px 0;
}

.navigation-menu a{
    font-size: 12px;
}
.navigation-menu img{
    width: 24px
}

.mini-player .artist-cover-img{
    width: 40px;
    height: 40px;
    background: #1B2E48;
    border-radius: 8%; 
    overflow: hidden;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

}

.mini-player .artist-cover-img img{
    position: fixed;
    width: 40px;
    height: 40px;
}

.mini-player-control button{
    border: none;
    outline: none;
    background: transparent;
}

.mini-player button img{
    width: 15px;
}

.mini-player button:first-child{
    margin-right: 20px;
}

.mini-player-info{
    font-size: 12px;
    font-style: bold;
}

.mini-player-info p:last-child{
    color: #1B2E48;
}

.audio-player-lg .audio-cover-lg-img{
    width: 300px;
    height: 300px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

.audio-player-lg .audio-cover-lg-img img{
    width: 280px;
    height: 280px;
    border-radius: 8%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #CDD9E9;
}

.audio-title-name{
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: bold;
}

.audio-artist-name{
    font-family: 'Open Sans';
    font-size: 24px;
}

.audio-player-progress{
    width: 100%;
    margin: 20px 0;
}

.audio-player-progress input[type=range]{
    width: 100%;
    -webkit-appearance: none;
    height: 9px;
    border-radius: 100px;
    background-color: linear-gradient(to right, #ffffff 50%, #1B2E48 50%);
}

.audio-controls{
    width: 180px;
    margin: 0 auto;
}

.audio-controls button{
    border: none;
    outline: none;
    background: transparent;
}

.audio-controls > button:first-child{
    transform: scaleX(-1);
}

.audio-controls .play-pause-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.audio-controls .play-pause-btn img{
    width: 15px;
}