.search-input-container{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #CDD9E9 -63.9%, #FFFFFF 99.85%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;

}
.search-input-container > input{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font: 'Open Sans';
    font-style: Light;
    
    color: #1b2e48;
}